backend/sipvs-backend/src/main/resources/schema/work-contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://example.com/work-contract"
            xmlns="http://example.com/work-contract"
            elementFormDefault="qualified"
            version="1.0">

  <xsd:element name="workContract" type="workContractType"/>

  <xsd:complexType name="workContractType">
    <xsd:sequence>
      <xsd:element name="employee" type="employeeType"/>
      <xsd:element name="company" type="companyType"/>
      <xsd:element name="job" type="jobType"/>
      <xsd:element name="duties" type="dutiesType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="employeeType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="birthDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="adresa" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="companyType">
    <xsd:sequence>
      <xsd:element name="companyName" type="xsd:string"/>
      <xsd:element name="companyAdresa" type="xsd:string" minOccurs="0"/>
      <xsd:element name="contactInfo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="jobType">
    <xsd:sequence>
      <xsd:element name="positionTitle" type="xsd:string"/>
      <xsd:element name="jobType" type="xsd:string"/>
      <xsd:element name="placeOfWork" type="xsd:string" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:string"/>
      <xsd:element name="salary" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dutiesType">
    <xsd:sequence>
      <xsd:element name="duty" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
</xsd:complexType>

</xsd:schema>
